<!DOCTYPE html>
<html>
<head>
<title>Pathfora Example</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
<style>
.content {
  width: 75%;
  margin: 40px auto;
}
</style>
</head>

<body class="example">

<div class="content">

<h1>Welcome to our website</h1>

<div class="terms-of-service"></div>

<p>Please <a href="#">contact us</a> if you have any questions.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta odio vel ligula dignissim venenatis. Morbi ac dapibus justo. Sed in lorem ligula. Phasellus semper, magna sed rutrum blandit, sapien arcu rutrum dolor, fringilla aliquam leo eros at mi. Nam vestibulum, urna at pulvinar gravida, ex enim aliquet dui, vitae consequat lorem ex non lectus. Sed sagittis magna augue, eget porta ex rutrum vitae. Proin egestas tincidunt urna ut lacinia. Fusce tristique dapibus nisl, fringilla venenatis lacus eleifend in. In sodales vel lorem in malesuada. Vestibulum faucibus malesuada porttitor.</p>

<div id="form-submit"></div>
</div>



<script src="https://c.lytics.io/api/tag/0d47e6304d12858905b4f111090a68a1/lio.js"></script>
<script src="http://localhost:8080/dist/pathfora.min.js"></script>
<script>
var messageModule = new pathfora.Message({
  id: 'message-inline',
  layout: 'inline',
  position: '.terms-of-service',
  msg: 'Please agree to our Terms of service to continue.'
});

var formModule = new pathfora.Form({
  id: 'form-inline',
  layout: 'inline',
  position: '#form-submit',
  headline: 'Sign up',
  msg: 'Please sign up to get updates.'
});

pathfora.initializeWidgets([messageModule, formModule]);

</script>

</body>
</html>
